<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <contentSearch.getContextIndex>
        <processor ref="Elision.Search.Pipelines.GetContextIndex.RunGetContextIndexRules, Elision.Search"
                   factory="ElisionObjectFactory" type="1"
                   patch:before="*[1]"/>
      </contentSearch.getContextIndex>
    </pipelines>

    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>

          <fieldMap>
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="hidefromsearchresults"   storageType="no" indexType="untokenized" vectorType="no" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
            </fieldNames>
          </fieldMap>

          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="urllink">
                <patch:delete />
              </field>
              <field fieldName="urllink"              storageType="yes" indexType="untokenized">Elision.Search.ComputedFields.UrlLink, Elision.Search</field>

              <field fieldName="_content"             storageType="no"  indexType="tokenized">Elision.Search.ComputedFields.ComponentsContentField, Elision.Search</field>
              <field fieldName="_basetemplates"       storageType="no"  indexType="untokenized">Elision.Search.ComputedFields.BaseTemplates, Elision.Search</field>
              <field fieldName="_haspresentation"     storageType="no"  indexType="untokenized">Elision.Search.ComputedFields.HasPresentation, Elision.Search</field>

              <!--<field fieldName="thumbnail"            storageType="yes" indexType="untokenized"
                   refFieldName="Image" width="300" height="350" thumbnail="true">Elision.Search.ComputedFields.ImageUrl, Elision.Search.ComputedFields</field>-->
              <!--<field fieldName="authorfullname"       storageType="yes" indexType="tokenized"
                   refFieldName="Author" linkedItemFieldName="FullName" order="CmsOrder" orderReversed="false" separator=", ">Elision.Search.ComputedFields.LinkedItemField, Elision.Search.ComputedFields</field>-->
            </fields>
          </documentOptions>

        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

    <!-- CMS Managed SynonymAnalyzer for ContentSearch
    This config snippet shows how you might enable Search Synonyms for an index.
    
    <indexConfigurations>
      <defaultLuceneIndexConfiguration>
        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.PerExecutionContextAnalyzer, Sitecore.ContentSearch.LuceneProvider">
          <param desc="defaultAnalyzer" type="Sitecore.ContentSearch.LuceneProvider.Analyzers.DefaultPerFieldAnalyzer, Sitecore.ContentSearch.LuceneProvider">
            <param desc="defaultAnalyzer" type="Sitecore.ContentSearch.LuceneProvider.Analyzers.SynonymAnalyzer, Sitecore.ContentSearch.LuceneProvider"
                   patch:instead="*[@desc='defaultAnalyzer']">
              <param hint="engine" type="Elision.Search.LuceneProvider.Analyzers.SitecoreSynonymEngine, Elision.Search">
                <param hint="synonymItemFolder">/sitecore/content/Settings/SearchSynonyms</param>
                <param hint="database">web</param>
              </param>
            </param>
          </param>
        </analyzer>
      </defaultLuceneIndexConfiguration>
    </indexConfigurations>

    <events>
      <event name="item:saved">
        <handler type="Elision.Search.LuceneProvider.Analyzers.SearchSynonymCacheClearer, Elision.Search" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="Elision.Search.LuceneProvider.Analyzers.SearchSynonymCacheClearer, Elision.Search" method="OnItemSavedRemote" />
      </event>
    </events>
    
    <settings>
      <setting name="Elision.SearchSynonymCacheMaxSize" value="25MB" />
    </settings>
    -->

  </sitecore>
</configuration>
