<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <contentSearch.getContextIndex>
        <processor ref="Elision.Feature.Library.Search.Pipelines.GetContextIndex.RunGetContextIndexRules, Elision.Feature.Library.Search"
                   patch:before="*[1]"/>
      </contentSearch.getContextIndex>
    </pipelines>

    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>

          <fieldMap>
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="hidefromsearchresults"   storageType="no" indexType="untokenized" vectorType="no" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
            </fieldNames>
          </fieldMap>

          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_content"             storageType="no"  indexType="tokenized">Elision.Feature.Library.Search.ComputedFields.ComponentsContentField, Elision.Feature.Library.Search</field>                          
            </fields>
          </documentOptions>

        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

  </sitecore>
</configuration>
