<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sitecore>
    <mvc>
      <areas>
         <!--MVC: Sitecore will by default register all areas in the initialize pipeline.
                  Use the below list to specify areas that should not be registered in the initialize pipeline.-->
        
        <excludedAreas>
          <area type="Sitecore.Social.Client.Mvc.Areas.Social.SocialAreaRegistration, Sitecore.Social.Client.Mvc" />
        </excludedAreas>
      </areas>

      <configurationAssemblies type="Sitecore.Web.AssembliesScanner.ExcludedAssembliesConfiguration, Sitecore.Web">
        <excludedAssemblies hint="list">
           
            <!--The Blacklist
            
            This section defines a list of assembly name matches to filter out any assemblies
            that are not required by the IAssembliesResolver. Assembly names that start with a 
            name within the excludedAssemblies will not be returned in the results from
            IAssembleResolver.GetAssemblies()-->
            
            
          <excludedAssembly id="Antlr3.Runtime">Antlr3.Runtime</excludedAssembly>
          <excludedAssembly id="CommonServiceLocator">CommonServiceLocator</excludedAssembly>
          <excludedAssembly id="ComponentArt">ComponentArt</excludedAssembly>
          <excludedAssembly id="CsQuery">CsQuery</excludedAssembly>
          <excludedAssembly id="CustomFields">CustomFields</excludedAssembly>
          <excludedAssembly id="DocumentFormat">DocumentFormat</excludedAssembly>
          <excludedAssembly id="DotNetOpenAuth">DotNetOpenAuth</excludedAssembly>
          <excludedAssembly id="EcmaScript.NET">EcmaScript.NET</excludedAssembly>
          <excludedAssembly id="Facebook">Facebook</excludedAssembly>
          <excludedAssembly id="Google.Apis">Google.Apis</excludedAssembly>
          <excludedAssembly id="Hammock.ClientProfile">Hammock.ClientProfile</excludedAssembly>
          <excludedAssembly id="HtmlAgilityPack">HtmlAgilityPack</excludedAssembly>
          <excludedAssembly id="ICSharpCode.SharpZipLib">ICSharpCode.SharpZipLib</excludedAssembly>
          <excludedAssembly id="Iesi.Collections">Iesi.Collections</excludedAssembly>
          <excludedAssembly id="ITHit.WebDAV.">ITHit.WebDAV.</excludedAssembly>
          <excludedAssembly id="LogService">LogService</excludedAssembly>
          <excludedAssembly id="Lucene">Lucene</excludedAssembly>
          <excludedAssembly id="MarkdownSharp">MarkdownSharp</excludedAssembly>
          <excludedAssembly id="Microsoft.">Microsoft.</excludedAssembly>
          <excludedAssembly id="MongoDB.">MongoDB.</excludedAssembly>
          <excludedAssembly id="mscorlib">mscorlib</excludedAssembly>
          <excludedAssembly id="Mvp.Xml">Mvp.Xml</excludedAssembly>
          <excludedAssembly id="Netbiscuits">Netbiscuits</excludedAssembly>
          <excludedAssembly id="Newtonsoft.Json">Newtonsoft.Json</excludedAssembly>
          <excludedAssembly id="Ninject">Ninject</excludedAssembly>
          <excludedAssembly id="OAuthLinkedIn">OAuthLinkedIn</excludedAssembly>
          <excludedAssembly id="Owin">Owin</excludedAssembly>
          <excludedAssembly id="PdfSharp">PdfSharp</excludedAssembly>
          <excludedAssembly id="protobuf-net">protobuf-net</excludedAssembly>
          <excludedAssembly id="RadEditor.Net2">RadEditor.Net2</excludedAssembly>
          <excludedAssembly id="RazorGenerator.Mvc">RazorGenerator.Mvc</excludedAssembly>
          <excludedAssembly id="Rebus">Rebus</excludedAssembly>
          <excludedAssembly id="Remotion.Linq">Remotion.Linq</excludedAssembly>
          <excludedAssembly id="Sitecore.Analytics">Sitecore.Analytics</excludedAssembly>
          <excludedAssembly id="Sitecore.Apps">Sitecore.Apps</excludedAssembly>
          <excludedAssembly id="Sitecore.CES">Sitecore.CES</excludedAssembly>
          <excludedAssembly id="Sitecore.Cloud">Sitecore.Cloud</excludedAssembly>
          <excludedAssembly id="Sitecore.ContentSearch">Sitecore.ContentSearch</excludedAssembly>
          <excludedAssembly id="Sitecore.NVelocity">Sitecore.NVelocity</excludedAssembly>
          <excludedAssembly id="Sitecore.Oracle">Sitecore.Oracle</excludedAssembly>
          <excludedAssembly id="Sitecore.Owin">Sitecore.Owin</excludedAssembly>
          <excludedAssembly id="Sitecore.SegmentBuilder">Sitecore.SegmentBuilder</excludedAssembly>
          <excludedAssembly id="Sitecore.SessionProvider">Sitecore.SessionProvider</excludedAssembly>
          <excludedAssembly id="Sitecore.Update">Sitecore.Update</excludedAssembly>
          <excludedAssembly id="Sitecore.XConnect">Sitecore.XConnect</excludedAssembly>
          <excludedAssembly id="Sitecore.Xdb">Sitecore.Xdb</excludedAssembly>
          <excludedAssembly id="SMDiagnostics">SMDiagnostics</excludedAssembly>
          <excludedAssembly id="SolrNet">SolrNet</excludedAssembly>
          <excludedAssembly id="Stimulsoft">Stimulsoft</excludedAssembly>
          <excludedAssembly id="System.">System.</excludedAssembly>
          <excludedAssembly id="Telerik">Telerik</excludedAssembly>
          <excludedAssembly id="TweetSharp">TweetSharp</excludedAssembly>
          <excludedAssembly id="WebGrease">WebGrease</excludedAssembly>
          <excludedAssembly id="WindowsBase">WindowsBase</excludedAssembly>
          <excludedAssembly id="Yahoo.Yui.Compressor">Yahoo.Yui.Compressor</excludedAssembly>
        </excludedAssemblies>

         <!--The Whitelist--> 
        <includedAssemblies hint="list">
          <includedAssembly id="Sitecore.Mvc">Sitecore.Mvc</includedAssembly>
          <includedAssembly id="System.Web.Mvc">System.Web.Mvc</includedAssembly>
        </includedAssemblies>
      </configurationAssemblies>

      <precompilation>
        <!--MVC: Sitecore will load an assemblyIdentity assemblies and use the precompiled 
                 razor views that they contain in MVC view resolution.-->
        
        <assemblies>
          <assemblyIdentity name="Sitecore.Mvc" />
        </assemblies>
      </precompilation>
    </mvc>
  </sitecore>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.4845.0" newVersion="1.50.4845.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>
